body{
  background-color: purple;
}

.wrapper{
  width: 50%;
  min-height: 400px;
  margin: auto;
  margin-top: 150px;
  padding: 30px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 10px, 10px, 2px;
}

.list > *{
  padding: 20px 0;
}

#userNumber
